## 데이터 준비와 전처리

In [2]:
import pandas as pd
import os
rating_file_path=os.getenv('HOME') + '/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [3]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'count'}, inplace=True)

### [Input]

In [5]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

## 2. 분석해봅시다.
###    1)ratings에 있는 유니크한 영화 개수
###    2)rating에 있는 유니크한 사용자 수
###    3)가장 인기있는 영화 30개 (인기순)

In [6]:
ratings['movie_id'].nunique()

3628

In [7]:
ratings['user_id'].nunique()

6039

In [8]:
new_df = pd.merge(ratings, movies, on='movie_id')
new_df.head(31)

,user_id,movie_id,count,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,1193,5,978043535,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,1193,3,978038981,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,1193,4,978018995,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,1193,4,977978345,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,1193,4,977975061,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,1193,4,978813972,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,1193,5,977946400,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,1193,5,977944039,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,1193,5,977933866,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,1193,4,977934292,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,1193,4,977968584,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,1193,4,977786172,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,1193,5,977785864,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,1193,5,977694161,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,1193,5,977683596,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,1193,5,977626632,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,1193,3,977621789,One Flew Over the Cuckoo's Nest (1975),Drama
27,102,1193,5,1040737607,One Flew Over the Cuckoo's Nest (1975),Drama
28,107,1193,5,977533908,One Flew Over the Cuckoo's Nest (1975),Drama
29,120,1193,5,977458103,One Flew Over the Cuckoo's Nest (1975),Drama
30,123,1193,5,977448350,One Flew Over the Cuckoo's Nest (1975),Drama

In [9]:
movie_count = new_df.groupby('title')['title'].count()
movie_count.sort_values(ascending=False).head(30)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: title, dtype: int64

## 3.  선호하는 영화 5가지 골라서 RATING에 추가하기

In [10]:
# 본인이 좋아하는 영화 데이터로 바꿔서 추가하세요!
my_favorite = [
    'Godfather, The (1972)',
    'Princess Bride, The (1987)',
    'Terminator, The (1984)',
    'Titanic (1997)',
    'Shakespeare in Love (1998)'
]

# 'KYB'이라는 user_id가 위 아티스트의 노래를 5회씩 봤다고 가정합시다.
my_rating = pd.DataFrame({'user_id' : ['KYB'] * 5, 'title' : my_favorite, 'count' : [5] * 5})

# user_id에 'KYB'이라는 데이터가 없으면 위에 임의로 만든 my_favorite 데이터를 추가해줍니다.
if not new_df.isin({'user_id' : ['KYB']})['user_id'].any():
    new_df = new_df.append(my_rating)

new_df.tail(10)

,user_id,movie_id,count,timestamp,title,genre
836473,5851,3607.0,5,9.577566e+08,One Little Indian (1973),Comedy|Drama|Western
836474,5854,3026.0,4,9.583469e+08,Slaughterhouse (1987),Horror
836475,5854,690.0,3,9.577443e+08,"Promise, The (Versprechen, Das) (1994)",Romance
836476,5938,2909.0,4,9.572734e+08,"Five Wives, Three Secretaries and Me (1998)",Documentary
836477,5948,1360.0,5,1.016564e+09,Identification of a Woman (Identificazione di ...,Drama
0,KYB,NaN,5,NaN,"Godfather, The (1972)",NaN
1,KYB,NaN,5,NaN,"Princess Bride, The (1987)",NaN
2,KYB,NaN,5,NaN,"Terminator, The (1984)",NaN
3,KYB,NaN,5,NaN,Titanic (1997),NaN
4,KYB,NaN,5,NaN,Shakespeare in Love (1998),NaN

### 모델에 활용하기 위한 전처리
### 인덱싱 작업

In [11]:
df = pd.merge(new_df, movies, on=['title'])
df.tail(10)

,user_id,movie_id_x,count,timestamp,title,genre_x,movie_id_y,genre_y
836473,5494,3530.0,4,9.598163e+08,Smoking/No Smoking (1993),Comedy,3530,Comedy
836474,5556,2198.0,3,9.594455e+08,Modulations (1998),Documentary,2198,Documentary
836475,5949,2198.0,5,9.588464e+08,Modulations (1998),Documentary,2198,Documentary
836476,5675,2703.0,3,9.760291e+08,Broken Vessels (1998),Drama,2703,Drama
836477,5717,2258.0,4,9.585094e+08,Master Ninja I (1984),Action,2258,Action
836478,5851,3607.0,5,9.577566e+08,One Little Indian (1973),Comedy|Drama|Western,3607,Comedy|Drama|Western
836479,5854,3026.0,4,9.583469e+08,Slaughterhouse (1987),Horror,3026,Horror
836480,5854,690.0,3,9.577443e+08,"Promise, The (Versprechen, Das) (1994)",Romance,690,Romance
836481,5938,2909.0,4,9.572734e+08,"Five Wives, Three Secretaries and Me (1998)",Documentary,2909,Documentary
836482,5948,1360.0,5,1.016564e+09,Identification of a Woman (Identificazione di ...,Drama,1360,Drama

In [12]:
df.rename(columns={"movie_id_x":"movie_id", 'genre_x' : 'genre'},
          inplace = True)

In [13]:
del df['movie_id_y'], df['genre_y']
df.tail(10)

,user_id,movie_id,count,timestamp,title,genre
836473,5494,3530.0,4,9.598163e+08,Smoking/No Smoking (1993),Comedy
836474,5556,2198.0,3,9.594455e+08,Modulations (1998),Documentary
836475,5949,2198.0,5,9.588464e+08,Modulations (1998),Documentary
836476,5675,2703.0,3,9.760291e+08,Broken Vessels (1998),Drama
836477,5717,2258.0,4,9.585094e+08,Master Ninja I (1984),Action
836478,5851,3607.0,5,9.577566e+08,One Little Indian (1973),Comedy|Drama|Western
836479,5854,3026.0,4,9.583469e+08,Slaughterhouse (1987),Horror
836480,5854,690.0,3,9.577443e+08,"Promise, The (Versprechen, Das) (1994)",Romance
836481,5938,2909.0,4,9.572734e+08,"Five Wives, Three Secretaries and Me (1998)",Documentary
836482,5948,1360.0,5,1.016564e+09,Identification of a Woman (Identificazione di ...,Drama

In [14]:
df['user_id']

0            1
1            2
2           12
3           15
4           17
          ...
836478    5851
836479    5854
836480    5854
836481    5938
836482    5948
Name: user_id, Length: 836483, dtype: object

In [15]:
# 고유한 유저, 영화를 찾아내는 코드
user_unique = df['user_id'].unique()
movie_unique = df['title'].unique()

# 유저, 영화 indexing 하는 코드.
user_to_idx = {v : k for k, v in enumerate(user_unique)}
movie_to_idx = {v : k for k, v in enumerate(movie_unique)}
print(len(user_unique))
print(len(movie_unique))

6040
3628

In [16]:

# 인덱싱 제대로 되었는지 확인
print(user_to_idx['KYB'])
print(movie_to_idx['Modulations (1998)'])

4171
3620

In [17]:
# indexing을 통해 데이터 칼럼 내 값을 바꾸는 코드
temp_user_data = df['user_id'].map(user_to_idx.get).dropna()

if len(temp_user_data) == len(df):
    print('user_id column indexing OK!!')
    df['user_id'] = temp_user_data
else:
    print('user_id column indexing fail')
    
temp_movie_data = df['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(df):
    print('movie column indexing ok!!')
    df['movie_id2'] = temp_movie_data
else:
    print('movie column indexing fail')

df.head(10)

user_id column indexing OK!!
movie column indexing ok!!

,user_id,movie_id,count,timestamp,title,genre,movie_id2
0,0,1193.0,5,978300760.0,One Flew Over the Cuckoo's Nest (1975),Drama,0
1,1,1193.0,5,978298413.0,One Flew Over the Cuckoo's Nest (1975),Drama,0
2,2,1193.0,4,978220179.0,One Flew Over the Cuckoo's Nest (1975),Drama,0
3,3,1193.0,4,978199279.0,One Flew Over the Cuckoo's Nest (1975),Drama,0
4,4,1193.0,5,978158471.0,One Flew Over the Cuckoo's Nest (1975),Drama,0
5,5,1193.0,4,978156168.0,One Flew Over the Cuckoo's Nest (1975),Drama,0
6,6,1193.0,5,982730936.0,One Flew Over the Cuckoo's Nest (1975),Drama,0
7,7,1193.0,5,978136709.0,One Flew Over the Cuckoo's Nest (1975),Drama,0
8,8,1193.0,3,978125194.0,One Flew Over the Cuckoo's Nest (1975),Drama,0
9,9,1193.0,5,978557765.0,One Flew Over the Cuckoo's Nest (1975),Drama,0

In [18]:
df['user_id']

0            0
1            1
2            2
3            3
4            4
          ...
836478    1621
836479    3481
836480    3481
836481    4159
836482    1648
Name: user_id, Length: 836483, dtype: int64

## 4. CSR Matrix 만들기

In [19]:
from scipy.sparse import csr_matrix

num_user = df['user_id'].nunique()
num_movie = df['movie_id2'].nunique()

print(type(num_user), num_movie)

<class 'int'> 3628

In [20]:
csr_data = csr_matrix(
    (df['count'], (df.user_id, df.movie_id2)),
    shape = (num_user, num_movie)
)
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5.5. als_model 모델 구성,  훈련

In [21]:
# MF Model 학습
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분. 내용과는 무관하다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [72]:
# Implicit AlternatingLeastSquares 모델 선언
als_model = AlternatingLeastSquares(
    factors = 100,
    regularization = 0.01,
    use_gpu = False,
    iterations=100,
    dtype = np.float32
)

# als모델은 Input으로 반대가 되기 때문에 transpose를 해줍니다.
csr_data_transpose = csr_data.T
csr_data_transpose


# 모델 훈련
als_model.fit(csr_data_transpose)

HBox(children=(FloatProgress(value=0.0), HTML(value='')))

### 6. 선호하는 5가지 영화 중 하나,  그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악.¶

In [73]:
KYB, Terminator = user_to_idx['KYB'], movie_to_idx['Terminator, The (1984)']
KYB_vector, Terminator_vector = als_model.user_factors[KYB], als_model.item_factors[Terminator]

In [74]:
len(KYB_vector), len(Terminator_vector)

(100, 100)

In [75]:
np.dot(KYB_vector, Terminator_vector)

0.36955795

In [76]:
tita = movie_to_idx['Titanic (1997)']
tita_vector = als_model.item_factors[tita]
np.dot(KYB_vector, tita_vector)

0.5065412

### 7. 내가 좋아하는 영화와 비슷한 영화를 추천받기.

In [59]:
favorite_movie = 'Terminator, The (1984)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(200, 0.21995664),
 (651, 0.16824956),
 (194, 0.14873871),
 (865, 0.14501135),
 (193, 0.14449751),
 (92, 0.13264765),
 (124, 0.12319418),
 (62, 0.111301936),
 (928, 0.109472975),
 (680, 0.10431455),
 (882, 0.09717243),
 (172, 0.09404828),
 (120, 0.09262423),
 (117, 0.09073669),
 (44, 0.083115004)]

In [61]:
idx_to_movie = {v:k for k, v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Terminator, The (1984)',
 'Aliens (1986)',
 'Die Hard (1988)',
 'Predator (1987)',
 'Alien (1979)',
 'Terminator 2: Judgment Day (1991)',
 'Matrix, The (1999)',
 'Total Recall (1990)',
 'Robocop (1987)',
 'Blade Runner (1982)',
 'Mad Max 2 (a.k.a. The Road Warrior) (1981)',
 'Indiana Jones and the Last Crusade (1989)',
 'Raiders of the Lost Ark (1981)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode IV - A New Hope (1977)']

In [52]:
def get_similar_movie(movie_name : str):
    movie_id = movie_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

In [53]:
get_similar_movie('Fight Club (1999)')

['Fight Club (1999)',
 'Man on the Moon (1999)',
 'Being John Malkovich (1999)',
 'Eyes Wide Shut (1999)',
 'Bringing Out the Dead (1999)',
 'Sixth Sense, The (1999)',
 'American History X (1998)',
 "Boys Don't Cry (1999)",
 'Messenger: The Story of Joan of Arc, The (1999)',
 'Dogma (1999)']

### 8. 내가 가장 좋아할만한 영화들을 추천받아 봅시다.

In [54]:
user = user_to_idx['KYB']

movie_recommended = als_model.recommend(user, csr_data, N=20, 
                                        filter_already_liked_items = True)
movie_recommended

[(380, 0.5361908),
 (120, 0.4483304),
 (44, 0.36341983),
 (117, 0.3500987),
 (92, 0.2841151),
 (124, 0.27980483),
 (193, 0.27971646),
 (64, 0.2726775),
 (110, 0.26774463),
 (361, 0.24742688),
 (172, 0.24126734),
 (197, 0.23832667),
 (651, 0.22581264),
 (194, 0.22233282),
 (43, 0.21993053),
 (143, 0.2148872),
 (332, 0.19786265),
 (3, 0.19749737),
 (99, 0.19633332),
 (865, 0.19365491)]

In [55]:
[idx_to_movie[i[0]] for i in movie_recommended]

['Godfather: Part II, The (1974)',
 'Raiders of the Lost Ark (1981)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Terminator 2: Judgment Day (1991)',
 'Matrix, The (1999)',
 'Alien (1979)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Groundhog Day (1993)',
 'Casablanca (1942)',
 'Indiana Jones and the Last Crusade (1989)',
 'Jaws (1975)',
 'Aliens (1986)',
 'Die Hard (1988)',
 'Run Lola Run (Lola rennt) (1998)',
 'Gone with the Wind (1939)',
 'Moonstruck (1987)',
 'Erin Brockovich (2000)',
 'American Beauty (1999)',
 'Predator (1987)']

In [56]:
starWars = movie_to_idx['Star Wars: Episode IV - A New Hope (1977)']
explain = als_model.explain(user, csr_data, itemid=starWars)

In [57]:
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[('Princess Bride, The (1987)', 0.1217885004872368),
 ('Terminator, The (1984)', 0.10849249300536284),
 ('Titanic (1997)', 0.0627463735241238),
 ('Godfather, The (1972)', 0.05160517048040583),
 ('Shakespeare in Love (1998)', 0.017527744954228756)]

### iteration 을 많이 한다고해서 dot값(선호도)값이 올라가는게 아니고, 
### 적정 iteration 을 찾는게 중요할듯하다..좋아하는 영화를 선택하는경우 선호도값이 5.0이상 나오는것을 봐서는 비슷한 영화 추천 방식이 잘 작동하는것 같다